html {
  background-color: #ececec;
}

.formulario {
  background-color: #ffffff;
  margin: 0 auto;
  width: 40%;
  min-width: 265px;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

input {
  width: 80%;
  height: 40px;
  border-radius: 1px;
  border: 1px solid #999;
  outline: none;
}

.input-area {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.input-area input {
  width: 100%;
}

.texto-erro {
  color: red;
  margin: 4px;
}

button {
  height: 40px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  width: 83%;
  background-color: #4bb4f8;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* Quando passa o mouse por cima */
button:hover {
  background-color: navy;
}

/* Quando da erro no botao */
.input-error {
  border-color: red;
}
