/* ESTA DEFINIÇÃO SERÁ SOBESCRITA */
h1 {
  background-color: plum;
}

/* TODOS OS ELEMENTOS p QUE ESTÃO DENTRO DE ul */
ul p {
  background-color: yellow;
}

/* TODOS OS ELEMENTOS p DIRETAMENTE DESCENDENTES DE ul */
ul > p {
  background-color: rgb(255, 0, 212);
}

.fundo-verde {
  background-color: green;
}

.texto-laranja {
  color: orange;
}

#este-aqui {
  background-color: blue;
}

/* ASSINATURA */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 3px solid black;
  padding: 7px;
}

td {
  text-align: center;
}

p {
  margin: 8px;
}

strong {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: blue;
}

.zucchetti {
  font-size: 18px;
}
/* ASSINATURA */
