/* ESTA DEFINIÇÃO SERÁ SOBESCRITA */
h1 {
  background-color: plum;
}

/* TODOS OS ELEMENTOS p QUE ESTÃO DENTRO DE ul */
ul p {
  background-color: yellow;
}

/* TODOS OS ELEMENTOS p DIRETAMENTE DESCENDENTES DE ul */
ul > p {
  background-color: rgb(255, 0, 212);
}

.fundo-verde {
  background-color: green;
}

.texto-laranja {
  color: orange;
}

#este-aqui {
  background-color: blue;
}

/* ASSINATURA */
table {
  margin: auto;
  border-collapse: separate;
  border: 3px solid black;
  background-color: rgb(255, 245, 232);
  box-shadow: 2px 2px 2px 0px rgba(128, 0, 0, 1);
}

td {
  text-align: center;
}

tr {
  padding: 25px;
}

p {
  margin: 9px;
}

strong {
  font-size: 22px;
  font-family: "Lobster", cursive;
}

a {
  text-decoration: none;
  color: blue;
  font-family: "Josefin Sans", sans-serif;
}

.zucchetti {
  font-size: 19px;
  font-family: "Josefin Sans", sans-serif;
  background: #800000;
  background: linear-gradient(to right, #800000 0%, #004dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1px;
}
/* ASSINATURA */
