h1 {
  font-size: 35px;
  background-color: blueviolet;
  color: antiquewhite;
  margin: center auto;
  padding: 25px;
}

body {
  background-color: black;
}

/* ASSINATURA */
table {
  margin: auto;
  border-collapse: separate;
  border: 3px solid black;
  background-color: rgb(255, 245, 232);
  box-shadow: 2px 2px 2px 0px rgba(128, 0, 0, 1);
}

td {
  text-align: center;
}

tr {
  padding: 25px;
}

p {
  margin: 9px;
}

strong {
  font-size: 22px;
  font-family: "Lobster", cursive;
}

a {
  text-decoration: none;
  color: blue;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
}

.zucchetti {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  background: #800000;
  background: linear-gradient(to right, #800000 0%, #004dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1px;
}
/* ASSINATURA */
