:root {
  font-family: sans-serif;
}

body,
html,
ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 8px;
}

header {
  padding: 8px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

ul {
  width: 320px;
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

li {
  border: 2px solid gray;
  padding: 4px 8px;
  border-radius: 4px;
}
