:root {
  font-family: sans-serif;
  font-size: 16px;
}

html,
body,
div,
header,
main,
footer,
form,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li span {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main,
header,
footer {
  padding: 1vh;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: navy;
}

.logo-text {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

nav {
  display: flex;
  gap: 1vw;
}

nav > a {
  color: #fff;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}

#cards-container {
  width: 100%;
  list-style: none;
  display: flex;
  /* Padrao é ROW porem criado para aprendizado */
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

#cards-container > li {
  gap: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  /* border-width: ; */
  /* border-style: ; */
  /* border-radius: ; */
  /* equivalente apenas usar BORDER */
  border: 1px solid navy;
}

#cards-container > li > img {
  border-radius: 8px;
  width: 320px;
  display: block;
  aspect-ratio: 4/3;
  background-color: #cacaca;
}

#cards-container > li > h3 {
  font-size: 1.2rem;
  font-style: italic;
  color: navy;
}

#cards-container > li > .details {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

#cards-container > li > .details > a {
  border-radius: 8px;
  background-color: red;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards-container > li > .details > .price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#cards-container > li > .details > .price > h4 {
  font-size: 0.9rem;
  font-weight: normal;
}

#cards-container > li > .details > .price > p {
  font-size: 1.2rem;
  font-weight: bold;
}

form {
  width: 1046;
  /* exemplo de uso de CALC */
  max-width: calc(100vw - 64px);
  display: flex;
  gap: 8px;
  color: navy;
  font-weight: bold;
  align-items: center;
}

form input[type="text"] {
  flex-grow: 1;
}

form input {
  padding: 4px;
  border-radius: 8px;
  border-color: gray;
}

form > button {
  border-radius: 8px;
  background-color: red;
  color: white;
  padding: 8px 18px;
  text-decoration: none;
}
